body {
  background-color: #ffffff;
}
nav.navbar {
  background-color: #f8f9fa;
}
#main-header {
  background-color: #198754; 
  color: white;
}
footer {
  background-color: #0dcaf0; 
  color: white;
}