<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{general/fragmentos :: head}"/>
<body>
    <!-- Header común -->
    <header th:replace="~{general/fragmentos :: header}"/>

    <!-- Sección para agregar nueva categoría -->
    <section th:replace="~{categorias/fragmentos :: agregar}"/>

    <!-- Sección para mostrar listado de categorías -->
    <section th:replace="~{categorias/fragmentos :: listado}"/>

    <!-- Footer común -->
    <footer th:replace="~{general/fragmentos :: footer}"/>
</body>
</html>
